<SCRIPT language=Javascript>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</SCRIPT>
<div class="vista">

    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li>
                    <i class="disabled fa fa-building"></i>
                    <a>Administración de clientes/Asignar socios responsables de atención al cliente</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_panel">
                    <div class="x_title">
                        <h2>Datos generales</h2>

                        <div class="clearfix"></div>
                    </div>


                    <div class="x_content sin-desborde">



                        <div class="row">
                            <div class="col-sm-2 col-xs-2">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <img class="img-thumbnail" ng-src="{{urlImagenCompleta}}" width="180" height="180" title={{registro.nombre}}>
                                    </div>

                                </div>
                            </div>


                            <div class="col-sm-10 col-xs-10">
                                <div class="col-xs-12 col-sm-10">





                                    <div class="form-group">

                                        <div class="row">
                                            <label class="detalle2"> Cliente: </label><span class="cont emc colorTit"> {{registro.nombre}} </span>
                                        </div>
                                        <div class="row">
                                            <label class="detalle2"> Contacto:</label><span class="cont emc colorTit"> {{ registro.contacto}} </span>
                                        </div>

                                        <br/>
                                        <br/>

                                        <button type="button" ng-click="openUsuarios()" class="btn btn-success">
                                                <span class="glyphicon glyphicon-plus"></span> Asignar responsable
                                        </button>

                                    </div>





                                </div>
                            </div>

                        </div>




                        <div class="clearfix"></div>
                        <div class="clearfix"></div>


                        <br/>
                        <br/>


                        <div class="x_title">
                            <h2>Responsable de atención</h2>

                            <div class="clearfix"></div>
                        </div>

                        <table id="socios" class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0" datatable="ng" width="100%">
                            <thead>
                                <tr>
                                    <th data-priority="1" class="text-center">Nombre</th>
                                    <th data-priority="2" class="text-center">Opciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="obj in sociosasignados">
                                    <td style="width:90%">
                                        {{obj.nombre}}
                                    </td>
                                    <td class="text-center" tyle="width:20%">

                                        <a class="btn btn-danger pull-right" ng-click="updateState(obj)" title="Eliminar">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


                <button type="button" ui-sref="clientes" class="btn btn-primary">
                        <span class="fa fa-arrow-left"></span> Regresar
                    </button>

            </div>


        </div>

    </div>