<!DOCTYPE html>
<html lang="en" ng-app="ModuloPrincipal">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>VERA, DIZ Y CIA., S.C.</title>

    <!-- Basic SEO -->
    <meta name="description" content="Creative website development with html5, css3, jQuery & bootstrap framework">
    <meta name="keywords" content="HTML5, CSS3, JQuery, Bootstrap, Web Design, Web Development, Responsive website, Creative website">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="css/normalize.css" />

    <link rel="stylesheet" type="text/css" href="css/blog_style.css" />

    <script src="Scripts/jquery-2.1.0.min.js"></script>

    <script src="Scripts/jquery-ui-1.11.3.min.js"></script>

    <script src="js/modernizr.custom.js"></script>



    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-ui-router.js"></script>
    <script src="Scripts/i18n/angular-locale_es-mx.js"></script>












    <!--Archivos de configuracion inicial en nuestra aplicacion-->
    <script src="app/IND/moduloprincipal.js"></script>
    <script src="app/IND/app.js"></script>

    <!--Servicios-->
    <script src="app/IND/services/indicadoresService.js"></script>

    <!--Nuevos controladores que se vayan agregando-->
    <script src="app/IND/controller/IndicesGetCtrl.js"></script>





</head>

<body data-spy="scroll" data-target=".navbar" data-offset="65" data-ng-controller="IndicesGetCtrl">


    <div class="container">

        <button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>

        <div id="theSidebar" class="sidebar">
            <div><a class="fa fa-reply" href="index.html" title="Home"><span> Regresar</span></a></div>
            <h1> <span>Blog <span> Veradiz</h1>
        </div>


        <div id="theGrid" class="main">
            <div class="grid" ng-show="IsVisibleGrid">
                <header class="top-bar">
                    <h2 class="top-bar__headline">últimas publicaciones</h2>
                </header>


                <a class="grid__item" href="#" ng-click="seccion(obj)" ng-repeat="obj in TodasNoticias">

                    <h2 class="title title--preview">{{obj.titulo}}</h2>
                    <div class="loader"></div>
                    <span class="category">{{obj.subtitulo}}</span>
                <div class="meta meta--preview">
                    <img class="meta__avatar" src="img/testimonial/1.png" alt=" " />
                    <span class="meta__date">
                            <i class="fa fa-calendar-o"></i> {{obj.fecha}}
                      </span>
                </div>
                </a>

        </div>



        <div ng-show="IsVisibleContenido">


            <a href="#" class="close-button" ng-click="cierra()">
                <i class="fa fa-close"></i>

            </a>

            <div>
                <article class="content__item">
                    <span class="category category--full">{{tituloSel}}</span>
                    <h2 class="title title--full">{{subtituloSel}}</h2>
                    <div class="meta meta--full">
                        <br/>
                        <span class="meta__author">{{autorSel}}</span>
                        <span class="meta__date"><i class="fa fa-calendar-o"></i>{{fechaSel}}</span>
                    </div>
                    <p> {{descripcionSel}} </p>
                </article>

            </div>



        </div>
    </div>

    </div>

</body>

</html>