<div class="vista">


    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li><i class="disabled fa fa-newspaper-o"></i> <a>Noticias</a></li>
            </ol>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content sin-desborde">
                <div class="x_title">
                    <h2>Información de actualidad VERADIZ</h2>
                    <div class="clearfix"></div>
                </div>






                <table id="NoticiasGet" dt-instance="dtInstance" class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0" datatable="ng" width="100%" dt-options="dtOptions">
                    <thead>
                        <tr>
                            <th data-priority="1" class="text-center">Noticia</th>
                            <th data-priority="2" class="text-center">Descripción</th>
                            <th data-priority="3" class="text-center">Opciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in noticiasGet">
                            <td style="width:40%">
                                <a href="{{obj.url_referencia}}" target="_blank">{{obj.titulo}}</a>
                            </td>
                            <td tyle="width:40%">
                                {{obj.descripcion}}
                            </td>
                            <td class="text-center" tyle="width:20%">


                                <a class="btn btn-warning" ui-sref="noticiasEdit({id:obj.id})" title="Editar">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a class="btn btn-danger pull-right" ng-click="updateState(obj)" title="Eliminar">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>






            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="button" ui-sref="noticiasAdd" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Agregar
                </button>
            </div>
        </div>
    </div>




</div>