<div class="vista">
    <div class="col-xs-12">
        <div class="login_wrapper">
            <div class="animate form login_form">
                <div class="x_panel">
                    <div class="x_content">
                        <section class="login_content">

                            <form id="mc-form" name="form" ng-submit="login()">
                                <h1 class="panel-title detalle">Iniciar sesi&oacute;n</h1>

                                <div class="inputContainer">
                                    <label><span><i class="sg-1x5 glyphicon glyphicon-user"></i></span></label>
                                    <div>
                                        <input type="text" id="usuario" name="usuario" title="Usuario" ng-minlength="3" ng-maxlength="3" class="form-control" placeholder="Usuario" ng-required="true" data-ng-model="loginData.userName" />
                                    </div>
                                </div>
                                <br/>
                                <div class="inputContainer">
                                    <label><span><i class="sg-1x5 glyphicon glyphicon-lock"></i></span></label>
                                    <div><input type="password" class="form-control" placeholder="Contraseña" title="Contrase&ntilde;a" name="contrasenia" required="" id="inputPassword" data-ng-model="loginData.password" /></div>
                                </div>

                                <div class="clearfix"></div>




                                <div class="separator">
                                    <button type="submit" id="entrar" class="btn btn-lg btn-success btn-block" ng-disabled="btnClick">
                                        Entrar
                                    </button>
                                    <!-- <a class="reset_pass title linkTabla ng-binding" id="olvido"
                                       ui-sref="recupearapassword">Olvidaste tu contrase&ntilde;a&quest; </a> -->
                                    <!--<a class="title linkTabla ng-binding" ui-sref="recupearapassword">Olvid&eacute; mi contraseña</a>-->
                                    <!--<div ng-hide="message == ''" class="alert alert-danger">
                                        {{message}}
                                    </div>-->

                                </div>
                            </form>

                        </section>

                    </div>
                </div>
            </div>

        </div>

        <br />


    </div>

</div>