<div class="vista">


    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li>
                    <i class="disabled fa fa-line-chart"></i>
                    <a>Dolar</a>
                </li>
            </ol>
        </div>
    </div>



    <div class="row">
        <form name="ValidForm" id="form" class="form-horizontal">
            <div class="col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Criterios de b&uacute;squeda</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Inicio <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" ng-minlength="8" name="fechai" maxlength="10" ng-init="open=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="fechai" value="{{ date | date: 'dd/MM/yyyy' }}"
                                            is-open="open" ng-required="true" close-text="Close" />
                                        <span ng-show="ValidForm.fechai.$dirty &&  ValidForm.fechai.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                T&eacute;rmino <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" name="fechat" ng-minlength="8" ng-init="open2=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="fechat" value="{{ date | date: 'dd/MM/yyyy' }}"
                                            is-open="open2" ng-required="true" close-text="Close" />
                                        <span ng-show="ValidForm.fechat.$dirty &&  ValidForm.fechat.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open2=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group ">
                            <a class="btn btn-success" ng-click="obtenerInformacion();">
                                <i class="glyphicon glyphicon-search"></i> Buscar
                            </a>
                            <a class="btn btn-primary" ng-click="reset()" title="Limpiar campos">
                                Limpiar
                            </a>
                        </div>



                    </div>
                </div>
            </div>
        </form>
    </div>




    <div class="row" ng-if="resultadosBusqueda > 0">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">


                <table id="tablaexport" datatable="ng" dt-options="dtOptions" class="table table-hover table-striped table-condensed dt-responsive nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in resultadosBusqueda">
                            <td>{{obj.fecha}}</td>
                            <td>$ {{obj.valor}}</td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>



</div>