<div class="vista">



    <div class="col-lg-12">
        <h1 class="page-header"> <i class="disabled fa fa-line-chart"></i> TIIE</h1>
    </div>


    <div class="x_panel">

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="medium">Valor del día</div>
                                <div>{{primerValor}} %</div>
                                <!-- <p>{{ documentosGetContadores[7].nuevos }}</p> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green" ng-if="classPositiva == '1'">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-balance-scale fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="medium">Diferencia</div>
                                <div>( {{primerDiferencia}}%)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-yellow" ng-if="classPositiva == '0'">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-balance-scale fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="medium">Diferencia</div>
                                <div>( {{primerDiferencia}}%)</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 pull-right">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">

                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="col-sm-12"> <input type="radio" ng-model="tipo" value="1" ng-click="cetesUno()"> <label>Tiie 28</label></div>
                                <div class="col-sm-12"><input type="radio" ng-model="tipo" value="2" ng-click="cetesDos()"> <label>Tiie 91 </label></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>


    <div class="x_panel">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h3>Datos historicos </h3>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Personalizar</h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">

                            <form name="ValidForm" id="form" class="form-horizontal"></form>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label class="control-label col-sm-3">
                                                Inicio
                                    </label>
                                    <div class=" col-sm-9 ">
                                        <div class="row">
                                            <div class="col-xs-10">
                                                <input placeholder="dd/mm/yyyy" ng-minlength="8" name="fechai" maxlength="10" ng-init="open=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="fechai" value="{{ date | date: 'dd/MM/yyyy' }}"
                                                    is-open="open" ng-required="true" close-text="Close" />
                                                <span ng-show="ValidForm.fechai.$dirty &&  ValidForm.fechai.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                            </div>
                                            <div class="col-xs-2">
                                                <button type="button" class="btn btn-success" ng-click="open=true"><i
                                                                class="glyphicon glyphicon-calendar"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label class="control-label col-sm-3 ">
                                                T&eacute;rmino
                                            </label>
                                    <div class=" col-sm-9 ">
                                        <div class="row">
                                            <div class="col-xs-10">
                                                <input placeholder="dd/mm/yyyy" name="fechat" ng-minlength="8" ng-init="open2=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="fechat" value="{{ date | date: 'dd/MM/yyyy' }}"
                                                    is-open="open2" ng-required="true" close-text="Close" />
                                                <span ng-show="ValidForm.fechat.$dirty &&  ValidForm.fechat.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                            </div>
                                            <div class="col-xs-2">
                                                <button type="button" class="btn btn-success" ng-click="open2=true"><i
                                                                class="glyphicon glyphicon-calendar"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>









    <div class="x_panel">

        <div class="row">

            <div class="col-sm-4 miEncabezado">
                Fecha
            </div>
            <div class="col-sm-4 miEncabezado">
                Valor
            </div>
            <div class="col-sm-4 miEncabezado">
                % de variación
            </div>

        </div>

        <div ng-show="resultadosBusqueda.length > 0 ">
            <div class="row table" ng-repeat="obj in resultadosBusqueda">

                <div class="col-sm-4 misDatos ">{{obj.fecha}}</div>
                <div class="col-sm-4 misDatos">{{obj.valor}}%</div>
                <div class="col-sm-4 misDatos">{{obj.difDiaAnterior}}</div>
            </div>

        </div>
    </div>


    <div class="x_panel">

        <div class="row">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"> </canvas>

        </div>
    </div>



</div>