<div class="vista">



    <div class="col-lg-12">
        <h1 class="page-header"> <i class="disabled fa fa-line-chart"></i> TIIE</h1>
    </div>


    <div class="x_panel">

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="medium">Valor del día</div>
                                <div>{{primerValor}} %</div>
                                <!-- <p>{{ documentosGetContadores[7].nuevos }}</p> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="medium">Valor del día anterior</div>
                                <div>{{anteriorValor}} %</div>
                                <!-- <p>{{ documentosGetContadores[7].nuevos }}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green" ng-if="classPositiva == '1'">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-balance-scale fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="medium">Diferencia</div>
                                <div>( {{primerDiferencia}}%)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-yellow" ng-if="classPositiva == '0'">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-balance-scale fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="medium">Diferencia</div>
                                <div>( {{primerDiferencia}}%)</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 pull-right">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">

                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="col-sm-12"> <input type="radio" ng-model="tipo" value="1" ng-click="cetesUno()"> <label>TIIE 28 días</label></div>
                                <div class="col-sm-12"><input type="radio" ng-model="tipo" value="2" ng-click="cetesDos()"> <label>TIIE 91 días</label></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>


    <div class="x_panel">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h3>Datos históricos </h3>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Personalizar</h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">


                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label class="control-label col-sm-3">
                                                Inicio
                                    </label>
                                    <div class=" col-sm-9 ">
                                        <div class="row">
                                            <div class="col-xs-10">
                                                <input placeholder="dd/mm/yyyy" ng-minlength="8" name="fechai" maxlength="10" ng-init="open=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="fechai" value="{{ date | date: 'dd/MM/yyyy' }}"
                                                    is-open="open" ng-required="true" close-text="Close" />
                                                <span ng-show="ValidForm.fechai.$dirty &&  ValidForm.fechai.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                            </div>
                                            <div class="col-xs-2">
                                                <button type="button" class="btn btn-success" ng-click="open=true; cambiafecha();"><i
                                                                class="glyphicon glyphicon-calendar"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label class="control-label col-sm-3 ">
                                                T&eacute;rmino
                                            </label>
                                    <div class=" col-sm-9 ">
                                        <div class="row">
                                            <div class="col-xs-10">
                                                <input placeholder="dd/mm/yyyy" name="fechat" ng-minlength="8" ng-init="open2=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="fechat" value="{{ date | date: 'dd/MM/yyyy' }}"
                                                    is-open="open2" ng-required="true" close-text="Close" />
                                                <span ng-show="ValidForm.fechat.$dirty &&  ValidForm.fechat.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                            </div>
                                            <div class="col-xs-2">
                                                <button type="button" class="btn btn-success" ng-click="open2=true; cambiafecha();"><i
                                                                class="glyphicon glyphicon-calendar"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-success" ng-click="update()">
                                    <i class="glyphicon glyphicon-saved"></i> Actualizar información
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            Fuente de información Banxico <br/> Datos históricos de TIIE a 28 días a partir de 1996 <br/> Datos históricos del TIIE a 91 días a partir de 1997

        </div>
    </div>


    <div class="x_panel">


        <div ng-show="resultadosBusqueda.length > 0 ">
            <table width="100%" class="table table-striped table-bordered table-hover dt-responsive" id="tiie" cellspacing="0" datatable="ng" width="100%" dt-options="dtOptions" dt-instance="dtInstance">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width: 33%; text-align: center;">Fecha</th>
                        <th style="width: 33%; text-align: center;">Valor</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-repeat="obj in resultadosBusqueda">
                        <td style=" width: 1px; ">{{obj.id}}</td>
                        <td style="width: 49%; text-align: center;"> {{obj.fecha}}</td>
                        <td style="width: 49%; text-align: center;"> {{obj.valor}} %</td>


                    </tr>

                </tbody>
            </table>

        </div>
    </div>


    <div class="x_panel" ng-if="tipo == '1'">
        <div class="row">
            <canvas id="myChart" style="height: 360px; width: 10%;"></canvas>
        </div>
    </div>


</div>